  
body{ 
    background-color: #424254;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    background-color: #424254;
    border-color: #424254 ;
    font-size: large;
    margin-bottom: 0;
    border-radius: 0;
} 

.create-block{
    padding : 50px 0;
    margin-left: auto;
}

.container{
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    width: 50%;
    text-align: center;
    background-image: linear-gradient(white, gray);
    border-radius: 10px;
}

h1{
    text-shadow: 1.4px 1.4px #64908A;
    margin-bottom:30px; 
    font-weight:800; 
    font-size:xx-large;
    color:#351330 ;
    margin-left: 1%;
}
  
 