body{ 
    background-color: #424254;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    background-color: #424254;
    border-color: #424254 ;
    font-size: large;
    margin-bottom: 0;
    border-radius: 0;
}

.create-block{
    padding : 50px 0;
    margin-left: auto;
}

.container{
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    width: 50%;
    text-align: center;
    background-image: linear-gradient(white, gray);
    border-radius: 10px;
}

h1{
    text-shadow: 1.4px 1.4px #64908A;
    margin-bottom:30px; 
    font-weight:800; 
    font-size:xx-large;
    color:#351330 ;
    margin-left: 1%;
}
  
    /**/

.button {
    background-color: #424254; 
    color: rgb(153, 153, 153); 
    border: 2px solid #424254;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top:20px;
    outline: none;
    border-radius: 25px;    
}
.button:hover {
background-color:rgb(153, 153, 153);
color: #424254;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0s;
}
      
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button:active {
  opacity: 1;
  background: #424254;
  color: rgb(153, 153, 153); 
  transition: 0s;
}
/**/
  
.button1 {
    margin-bottom: 30px;
}
  